{% extends "admin/base.html" %}

{% block content %}

<div class="container pt-4">
    <h3>Add Booking</h3>
</div>

<div class="container pt-4">
    <div class="container bg-body-tertiary border border-secondary">
        <form action="#" method="POST">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 form-group py-2">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 form-group py-2">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 form-group py-2">
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" pattern="[0-9\+]+" placeholder="Phone Number">
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6 form-group py-2">
                    <label class="form-label" for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 form-group py-2">
                    <label class="form-label" for="hotel">Select an hotel</label>
                    <select name="hotel" id="hotel" class="form-select">
                        <option value="" disabled selected hidden>Select an Hotel</option>
                        <option value="starter" selected>Starter Package</option>
                        <option value="honeymoon">Honeymoon Package</option>
                        <option value="vacation">Vacation Package</option>
                        <option value="spring">Spring Package</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 form-group py-2">
                    <label class="form-label" for="roomType">Select Room Type</label>
                    <select name="roomType" id="roomType" class="form-select">
                        <option value="" disabled selected hidden>Select Room Type</option>
                        <option value="deluxe">Deluxe</option>
                        <option value="superDeluxe">Super Deluxe</option>
                        <option value="single">Single</option>
                        <option value="double">Double</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 form-group py-2">
                    <label class="form-label" for="check_in_date">Check In Date</label>
                    <input type="date" class="form-control" id="check_in_date">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 form-group py-2">
                    <label class="form-label" for="check_out_date">Check Out Date</label>
                    <input type="date" class="form-control" id="check_out_date">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 form-group py-2">
                    <label class="form-label" for="booking_date">Booking Date</label>
                    <input type="date" class="form-control" id="booking_date">
                </div>
            </div>

            <br>
            <div align="center" class="pt-2 pb-4">
                <button type="submit" class="btn btn-primary">Edit Booking</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
