{% extends "admin/base.html" %}

{% block content %}
<div class="container pt-4">
    <h3>Dashboard</h3>
</div>


<div class="container pt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                <div class="container">
                    <h5>
                        Total Booking
                    </h5>
                    <h5>
                        12345
                    </h5>
                </div>
                <div class="d-flex">
                    <div class="container">
                        <p class="text-secondary mb-1">THIS MONTH</p>
                        <p>4321</p>
                    </div>
                    <div class="container">
                        <p class="text-secondary mb-1">THIS WEEK</p>
                        <p>1234</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                <div class="container">
                    <h5>
                        Rooms Available
                    </h5>
                    <h5>
                        69
                    </h5>
                </div>
                <div class="d-flex">
                    <div class="container">
                        <p class="text-secondary mb-1">BOOKED(M)</p>
                        <p>420</p>
                    </div>
                    <div class="container">
                        <p class="text-secondary mb-1">BOOKED(W)</p>
                        <p>123</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                <div class="container">
                    <h5>
                        Expenses
                    </h5>
                    <h5>
                        69420 USD
                    </h5>
                </div>
                <div class="d-flex">
                    <div class="container">
                        <p class="text-secondary mb-1">THIS MONTH</p>
                        <p>6900 USD</p>
                    </div>
                    <div class="container">
                        <p class="text-secondary mb-1">THIS WEEK</p>
                        <p>2000 USD</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Top Selected Package
            </div>
        </div>
        <div class="col-md-5 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Sales Revenue
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Room Booking Chart
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Income vs Expenses
            </div>
        </div>
        <div class="col-md-2 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                New Customer
            </div>
        </div>
        <div class="col-md-5 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Recent Activities
            </div>
        </div>
    </div>
</div>
{% endblock %}
