{% extends "admin/base.html" %}

{% block content %}
<div class="container pt-4">
    <h3>Dashboard</h3>
</div>


<div class="container pt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Total Booking
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Rooms Available
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Expenses
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Top Selected Package
            </div>
        </div>
        <div class="col-md-5 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Sales Revenue
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Room Booking Chart
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Income vs Expenses
            </div>
        </div>
        <div class="col-md-2 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                New Customer
            </div>
        </div>
        <div class="col-md-5 mb-4">
            <div class="container bg-body-tertiary border border-secondary">
                Recent Activities
            </div>
        </div>
    </div>
</div>
{% endblock %}
