{% extends "main.html" %}

{% block content %}

<div class="container pt-5 pb-5">
    <div class="row align-items-start">
    <div class="col-md-4 my-2 pt-5">
        <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../static/img/small_hotel_room.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Room</h5>
            <p class="card-text">
                <!-- People icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg>
                  2 - 4 person
            </p>
            <p class="card-text">
                <!-- Calender icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5"/>
                  </svg>
                  3 days
            </p>
            <div align="center">
                <a href="{{ url_for('room') }}" class="btn btn-primary">See details</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4 my-2 pt-5">
        <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../static/img/medium_hotel_room.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Room</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4 my-2 pt-5">
        <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../static/img/large_hotel_room.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Room</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4 my-2 pt-5">
        <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../static/img/small_hotel_room.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Room</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4 my-2 pt-5">
        <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../static/img/medium_hotel_room.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Room</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4 my-2 pt-5">
        <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../../static/img/large_hotel_room.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Room</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}
