{% extends "main.html" %}

{% block content %}

    <div class="container bg-body-tertiary">
        <h3 align="center">Confirm Booking</h3>
        {% if user_details: %}
        <div>
            <h5>Email:</h5>
            <p>{{ user_details[1] }}</p>
        </div>
        <div>
            <h5>Full name:</h5>
            <p>{{ user_details[2] }} {{ user_details[3] }}</p>
        </div>
        <div>
            <h5>Phone Number:</h5>
            <p>{{ user_details[4] }}</p>
        </div>
        {% endif %}
        {% if room_details: %}
        <div>
            <h5>Hotel Name:</h5>
            <p>{{ room_details[8] }}</p>
        </div>
        <div>
            <h5>Room Type:</h5>
            <p>{{ room_details[2] }}</p>
        </div>
        <div>
            <h5>Room Features:</h5>
            <p>{{ room_details[3] }}</p>
        </div>
        <div id="peak_season_price" style="display: none;">
            <p>{{ room_details[4] }}</p>
        </div>
        <div id="off_peak_price" style="display: none;">
            <p>{{ room_details[5] }}</p>
        </div>
        {% endif %}
        <div>
            <h5>Booking Date:</h5>
            <p>{{ booking_date }}</p>
        </div>
        <form id="bookingForm" action="{{ url_for('confirm_booking', hotel_id=hotel_id, room_id=room_id) }}" method="POST">
            <div class="form-group">
                <label for="check_in_date">Check In Date</label>
                <input type="date" class="form-control" id="check_in_date" name="check_in_date" placeholder="Enter Check In Date" onchange="updateTotalPrice()">
            </div>
            <div class="form-group">
                <label for="check_out_date">Check Out Date</label>
                <input type="date" class="form-control" id="check_out_date" name="check_out_date" placeholder="Enter Check Out Date">
            </div>

            <div>
                <h5>Total Price:</h5>
                <p><span id="total_price">{{ total_price }}</span> €</p>
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Confirm Booking</button>
        </form>
    </div>

    <script>
        function updateTotalPrice() {
            var checkInDate = new Date(document.getElementById("check_in_date").value);
            console.log("Check-in Date:", checkInDate);
            var current_date = new Date();
            console.log("Current Date:", current_date);
            var days_difference = (checkInDate - current_date) / (1000 * 60 * 60 * 24);
            console.log("Days Difference:", days_difference);
    
            // Determine discount % based on days difference
            var discount_percentage = 0;
            if (days_difference >= 80 && days_difference <= 90) {
                discount_percentage = 0.3; // 30% discount
            } else if (days_difference >= 60 && days_difference < 80) {
                discount_percentage = 0.2; // 20% discount
            } else if (days_difference >= 45 && days_difference < 60) {
                discount_percentage = 0.1; // 10% discount
            }
            console.log("Discount Percentage:", discount_percentage);
    
            // Fetch peak_season_price and off_peak_price from room_details
            var peak_season_price = +document.getElementById("peak_season_price").innerText.trim();
            var off_peak_price = +document.getElementById("off_peak_price").innerText.trim();
            console.log("Peak Season Price Element Content:", document.getElementById("peak_season_price").innerText);
            console.log("Off-Peak Price Element Content:", document.getElementById("off_peak_price").innerText);

    
            // Check if check in date is in peak season (April - August, November - December)
            var isPeakSeason = checkInDate.getMonth() in [3, 4, 5, 6, 7, 10, 11];
            console.log("Is Peak Season:", isPeakSeason);
            var totalPrice = isPeakSeason ? peak_season_price : off_peak_price;
            console.log("Total Price Before Discount:", totalPrice);
    
            // Apply discount
            totalPrice -= totalPrice * discount_percentage;
            console.log("Total Price After Discount:", totalPrice);

            // Check if totalPrice is a valid number
            console.log("Is totalPrice a valid number?", !isNaN(totalPrice));
    
            document.getElementById("total_price").textContent = totalPrice.toFixed(2);
        }
    </script>

{% endblock %}
