{% extends "main.html" %}

{% block content %}

    {% if booking_details: %}
    <div class="container bg-body-tertiary">
        <form action="{{ url_for('confirm_booking') }}" method="POST">
            <h3 align="center">Confirm Booking</h3>
            <div>
                <h5>Email:</h5>
                <p>{{ booking_details.email }}</p>
            </div>
            <div>
                <h5>Full name:</h5>
                <p>{{ booking_details.firstName }} {{ booking_details.lastName }}</p>
            </div>
            <div>
                <h5>Phone Number:</h5>
                <p>{{ booking_details.phoneNumber }}</p>
            </div>
            <div>
                <h5>Room Type:</h5>
                <p>{{ booking_details.room_type }}</p>
            </div>
            <div class="form-group">
                <label for="check_in_date">Check In Date</label>
                <input type="date" class="form-control" id="check_in_date" name="check_in_date" placeholder="Enter Check In Date">
            </div>
            <div class="form-group">
                <label for="check_out_date">Check Out Date</label>
                <input type="date" class="form-control" id="check_out_date" name="check_out_date" placeholder="Enter Check Out Date">
            </div>
            <div>
                <h5>Booking Date:</h5>
                <p>{{ booking_details.booking_date }}</p>
            </div>
            <div>
                <h5>Total Price:</h5>
                <p>{{ total_price }} €</p>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Confirm Booking</button>
        </form>
    </div>
    {% endif %}

{% endblock %}
