{% extends "main.html" %}

{% block content %}

    <div class="container py-4 bg-body-tertiary">
        <h3 align="center">Confirm Booking</h3>
        {% if user_details: %}
        <div>
            <h5>Email:</h5>
            <p>{{ user_details[1] }}</p>
        </div>
        <div>
            <h5>Full name:</h5>
            <p>{{ user_details[2] }} {{ user_details[3] }}</p>
        </div>
        <div>
            <h5>Phone Number:</h5>
            <p>{{ user_details[4] }}</p>
        </div>
        {% endif %}
        {% if room_details: %}
        <div>
            <h5>Hotel Name:</h5>
            <p>{{ room_details[8] }}</p>
        </div>
        <div>
            <h5>Room Type:</h5>
            <p>{{ room_details[2] }}</p>
        </div>
        <div>
            <h5>Room Features:</h5>
            <p>{{ room_details[3] }}</p>
        </div>
        <div id="peak_season_price" style="display: none;">
            <p>{{ room_details[4] }}</p>
        </div>
        <div id="off_peak_price" style="display: none;">
            <p>{{ room_details[5] }}</p>
        </div>
        {% endif %}
        <div>
            <h5>Booking Date:</h5>
            <p>{{ booking_date }}</p>
        </div>
        <form id="bookingForm" action="{{ url_for('confirm_booking', hotel_id=hotel_id, room_id=room_id) }}" method="POST">
            <div class="form-group">
                <label for="check_in_date">Check In Date</label>
                <input type="date" class="form-control" id="check_in_date" name="check_in_date" placeholder="Enter Check In Date" onchange="updateTotalPrice()" required>
            </div>
            <div class="form-group">
                <label for="check_out_date">Check Out Date</label>
                <input type="date" class="form-control" id="check_out_date" name="check_out_date" placeholder="Enter Check Out Date" onchange="updateTotalPrice()" required>
            </div>

            <div>
                <h5>Total Price:</h5>
                <p><span id="total_price">{{ total_price }}</span> €</p>
            </div>

            <br>
            <button type="submit" class="btn btn-primary" align="center">Confirm Booking</button>
        </form>
    </div>

{% endblock %}
