{% extends "main.html" %}

{% block content %}

<div class="container py-4">

    <div class="container py-4">
        <h3>All Hotels</h3>
    </div>
    <div class="table-responsive">
        <input class="form-control" id="myInput" type="text" placeholder="Search For City" onkeyup="searchFunction()">
        <table class="table table-responsive table-striped text-center" id="myTable">
            {% if hotels %}
            <thead>
                <tr class="bg-info">
                    <th onclick="sortTable(0)">City</th>
                    <th onclick="sortTable(1)">Hotel</th>
                    <th onclick="sortTable(2)">Email</th>
                    <th onclick="sortTable(3)">Phone</th>
                    <th onclick="sortTable(4)">Capacity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for hotel in hotels %}
                    <tr>
                        <td>{{ hotel[1] }}</td>
                        <td>{{ hotel[2] }}</td>
                        <td>{{ hotel[3] }}</td>
                        <td>{{ hotel[4] }}</td>
                        <td>{{ hotel[5] }}</td>
                        <td>
                            <a href="{{ url_for('room_page', hotel_id=hotel[0]) }}" class="btn btn-primary">View Rooms</a>
                            <br>
                            <br>
                            <br>
                            <br>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <td colspan="6">No hotels found.</td>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
