{% extends "main.html" %}

{% block content %}

<div class="container pt-4 pb-2 text-center">
  <h3> Room name </h3>
</div>

<div class="container py-2">
  <div class="row">
    <div class="col-lg-6">
      <!-- Content for the big column on the left -->
      <img class="img-fluid" src="../../static/img/medium_hotel_room.png" alt="img">
    </div>
    <div class="col-lg-6 d-none d-lg-block">
      <div class="row pb-4">
        <div class="col-md-6">
          <!-- Content for the first column on the right -->
          <img class="img-fluid" src="../../static/img/large_hotel_room.png" alt="img">
        </div>
        <div class="col-md-6">
          <!-- Content for the second column on the right -->
          <img class="img-fluid" src="../../static/img/small_hotel_room.png" alt="img">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- Content for the first row on the right -->
          <img class="img-fluid" src="../../static/img/medium_hotel_room.png" alt="img">
        </div>
        <div class="col-md-6">
          <!-- Content for the second row on the right -->
          <img class="img-fluid" src="../../static/img/large_hotel_room.png" alt="img">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-2">
    <p> description about the room </p>
</div>

{% endblock %}
