{% extends "main.html" %}

{% block content %}

<div class="container py-4">
  {% if rooms: %}
  
  <table class="table table-responsive table-striped text-center">
      <tr>
          <th>Room Type</th>
          <th>Features</th>
          <th>Base Price</th>
          <th>Peak Season Price</th>
          <th>Off Peak Price</th>
          <th>Status</th>
          <th></th>
      </tr>
      {% for room in rooms %}
      <tr>
          <td>{{room[2]}}</td>
          <td>{{room[3]}}</td>
          <td>{{room[4]}}</td>
          <td>{{room[5]}}</td>
          <td>{{room[6]}}</td>
          <td><p class="{% if room[7] == 'Available' %} text-success {% else %} text-danger {% endif %}">{{room[7]}}</p></td>
          <td>
              <!-- <a href="{{ url_for('room_page', room_id=room[0]) }}" class="btn btn-primary">View Rooms</a> -->
              <br>
              <br>
              <br>
              <br>
          </td>
      </tr>
      {% endfor %}
  </table>
</ul>
{% endif %}



{% endblock %}
