{% extends "admin/base.html" %}

{% block content %}
<div class="container pt-4">
    <h3>Customer's Lists</h3>
    <p class="text-secondary">You have total {{ total_customers }} customer's</p>
</div>

<div class="container pt-4">
    <div class="container bg-body-tertiary border border-secondary">
        <div class="d-flex container py-2 bg-light">
            <input class="form-control" id="myInput" type="text" placeholder="Search Name" onkeyup="searchFunction()">
            <div class="flex-grow-1"></div>
            <div>
                <a href="{{ url_for('top_customers') }}" class="btn btn-primary">Top Customers</a>
            </div>
        </div>
        <div class="container table-responsive py-2">
            <table class="table table-sm text-center" id="myTable">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Name</th>
                        <th onclick="sortTable(1)">Email</th>
                        <th onclick="sortTable(2)">Phone Number</th>
                        <th onclick="sortTable(3)">Usertype</th>
                        <th onclick="sortTable(4)">User ID</th>
                        <th></th>
                    </tr>
                </thead>
                {% for user in users: %}
                <tbody id="myTable">
                    <tr>
                        <!-- Name -->
                        <td>{{user[2]}} {{user[3]}}</td>
                        <!-- Email -->
                        <td>{{user[1]}}</td>
                        <!-- Phone Number -->
                        <td>{{user[4]}}</td>
                        <!-- Usertype -->
                        <td>{{user[6]}}</td>
                        <!-- User ID -->
                        <td>{{user[0]}}</td>
                        <td>
                            <div class="dropdown dropdown-menu-end">
                                <button class="btn dropdown-toggle-split" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <!-- Three Dots Icon -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                    </svg>
                                </button>
                                <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('customers_details', users_id=user[0]) }}">
                                            <!-- Eye Icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                              </svg>
                                            View Details
                                        </a>
                                    </li>                                
                                    <li>
                                        <a class="dropdown-item" href="{{ url_for('customers_activities', users_id=user[0]) }}">
                                            <!-- Activities Icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2"/>
                                              </svg>
                                            Activities
                                        </a>
                                    </li>                                
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="text-decoration-none" href="{{ url_for('customers_edit', users_id=user[0]) }}">
                                            <!-- Edit Icon --> 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                              </svg>
                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-decoration-none text-danger" href="{{ url_for('delete_customer', users_id=user[0])}}">
                                            <!-- Delete Icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                                </svg>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
{% endblock %}