{% extends "admin/base.html" %}

{% block content %}
<div class="container pt-4">
    <h3>Customer's Details</h3>
</div>

{% if user %}
<div class="container bg-body-tertiary border border-secondary pt-4">      
    <div class="row">
        <div class="col-md-3">
            <h5>User ID:</h5>
        </div>
        <div class="col-md-9">
            <p>{{ user[0] }}</p>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-3">
            <h5>Email:</h5>
        </div>
        <div class="col-md-9">
            <p>{{ user[1] }}</p>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-3">
            <h5>First Name:</h5>
        </div>
        <div class="col-md-9">
            <p>{{ user[2] }}</p>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-3">
            <h5>Last Name:</h5>
        </div>
        <div class="col-md-9">
            <p>{{ user[3] }}</p>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-3">
            <h5>Phone Number:</h5>
        </div>
        <div class="col-md-9">
            <p>{{ user[4] }}</p>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-3">
            <h5>Usertype:</h5>
        </div>
        <div class="col-md-9">
            <p>{{ user[6] }}</p>
        </div>
    </div>
    <div class="row">
        <a href="{{ url_for('customers_list') }}" class="text-decoration-none">Return</a>
    </div>
</div>
{% endif %}
{% endblock %}
