{% extends "admin/base.html" %}

{% block content %}
<div class="container pt-4">
    <h3>Hotel List</h3>
    <p class="text-secondary">List of hotels</p>
</div>
{% if hotels: %}
<div class="container pt-4">
    <div class="container bg-body-tertiary border border-secondary">
        <div class="d-flex container py-2 bg-light">
            <input class="form-control" id="myInput" type="text" placeholder="Search.." onkeyup="searchFunction()">
            <div class="flex-grow-1"></div>
            <div><a href="{{ url_for('add_hotel') }}" class="btn btn-success">Add Hotel</a></div>
        </div>
        <div class="container table-responsive py-2">
            <table class="table table-sm text-center" id="myTable" id="myTable">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Hotel ID</th>
                        <th onclick="sortTable(1)">City</th>
                        <th onclick="sortTable(2)">Hotel Name</th>
                        <th onclick="sortTable(3)">Email</th>
                        <th onclick="sortsTable(4)">Phone</th>
                        <th onclick="sortTable(5)">Capacity</th>                    
                        <th></th>
                        <th>
                            <div class="dropdown dropdown-menu-end">
                                <button class="btn dropdown-toggle-split" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <!-- Filter Icon -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-right" viewBox="0 0 16 16">
                                        <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5m0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5m0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5"/>
                                      </svg>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <div class="dropdown-item">
                                            <input class="form-check-input" type="checkbox" id="filter">
                                            <label class="form-check-label" for="filter">Booked</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-item">
                                            <input class="form-check-input" type="checkbox" id="filter">
                                            <label class="form-check-label" for="filter">Open</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-item">
                                            <input class="form-check-input" type="checkbox" id="filter">
                                            <label class="form-check-label" for="filter">Inactive</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    {% for hotel in hotels %}
                    <tr>
                        <td>{{hotel[0]}}</td>
                        <td>{{hotel[1]}}</td>
                        <td>{{hotel[2]}}</td>
                        <td>{{hotel[3]}}</td>
                        <td>{{hotel[4]}}</td>
                        <td>{{hotel[5]}}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('room_list', hotel_id=hotel[0]) }}">
                                View Rooms
                            </a>
                        </td>
                        <td>
                            <div class="dropdown dropdown-menu-end">
                                <button class="btn dropdown-toggle-split" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <!-- Three Dots Icon -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                    </svg>
                                </button>
                                <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class="text-decoration-none" href="{{ url_for('edit_hotel', hotel_id=hotel[0]) }}">
                                            <!-- Edit Icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                              </svg>
                                            Edit
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="text-decoration-none text-danger" href="{{ url_for('delete_hotel', hotel_id=hotel[0]) }}">
                                            <!-- Delete Icon -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                                </svg>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}