{% extends "main.html" %}

{% block content %}
<!-- Banner -->
<div class="jumbotron text-center">
    <div class="container">
    <h1 class="display-4"><strong>Welcome to Our Hotel</strong></h1>
    <p class="lead"><strong>"Discover the epitome of luxury and sophistication at [Hotel]
         – where indulgence meets unparalleled hospitality."</strong></p>
    <a href="{{ url_for('hotel_page') }}" class="btn btn-primary">BOOK NOW</a>
    </div>
</div>

<div class="container py-5">
    <h1>Welcome to our luxurious hotel!</h1>
    <p>At [Hotel], we strive to provide you with an unforgettable experience filled with comfort, elegance, and exceptional service. From the moment you step into our grand lobby, you'll be enveloped in an atmosphere of warmth and hospitality.
       Whether you're here for business or pleasure, our dedicated staff is committed to ensuring your stay exceeds all expectations. Indulge in our exquisite amenities, savor delectable cuisine at our renowned restaurants, and unwind in our serene spa.
        We invite you to embrace a world of opulence and relaxation during your time with us. Welcome to a truly remarkable stay at [Hotel]</p>

</div>

<div class="bg-body-secondary">
    <div class="container py-4" align="center">
        <div class="row">
            <div class="col">
                <div class="image-text-container">
                    <div class="image">
                        <img src="../static/img/small_hotel_room.png" alt="Image">
                    </div>
                    <div class="text my-2">
                        <h2>Standard</h2>
                        <p>The standard hotel room is a comfortable space with a cozy bed and fresh linens.
                            It offers complimentary WiFi for convenient internet access. 
                            A flat-screen TV is provided for entertainment with a variety of channels. 
                            There is a work desk or seating area for productivity or relaxation. 
                            The en-suite bathroom includes modern fixtures and complimentary toiletries.</p>
                        <p><a href="{{ url_for('hotel_page') }}" class="btn btn-primary">BOOK NOW</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-4" align="center">
    <div class="row">
        <div class="col">
            <div class="image-text-container">
                <div class="image">
                    <img src="../static/img/medium_hotel_room.png" alt="Image">
                </div>
                <div class="text my-2">
                    <h2>Double</h2>
                    <p>The double room is a spacious and inviting retreat for two guests. 
                        It features a comfortable bed with fresh linens, ensuring a restful sleep. 
                        Guests can stay connected with complimentary WiFi and enjoy their favorite shows on the flat-screen TV. 
                        The room also offers a mini bar stocked with a selection of beverages for a refreshing indulgence. 
                        Whether for leisure or business, the double room provides a relaxing ambiance with modern amenities.</p>
                    <p><a href="{{ url_for('hotel_page') }}" class="btn btn-primary">BOOK NOW</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-body-secondary">
    <div class="container py-4" align="center">
        <div class="row">
            <div class="col">
                <div class="image-text-container">
                    <div class="image">
                        <img src="../static/img/large_hotel_room.png" alt="Image">
                    </div>
                    <div class="text my-2">
                        <h2>Family</h2>
                        <p>The family room is a perfect choice for a comfortable stay with loved ones. 
                            It offers ample space to accommodate the whole family. 
                            Guests can stay connected with complimentary WiFi and enjoy a wide range of entertainment on the flat-screen TV. 
                            The room also features a convenient mini bar, providing refreshments for all family members. 
                            Additionally, a delicious breakfast is included, ensuring a great start to the day for everyone. 
                            The family room combines modern amenities with a welcoming atmosphere, creating a memorable stay for families.</p>
                        <p><a href="{{ url_for('hotel_page') }}" class="btn btn-primary">BOOK NOW</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
