{% extends "main.html" %}

{% block content %}
<!-- Banner -->
<div class="jumbotron text-center">
    <div class="container">
    <h1 class="display-4"><strong>Welcome to Our Hotel</strong></h1>
    <p class="lead"><strong>"Discover the epitome of luxury and sophistication at [Hotel]
         – where indulgence meets unparalleled hospitality."</strong></p>
    <a href="/booking" class="btn btn-primary">BOOK NOW</a>
    </div>
</div>

<div class="container pt-5 pb-5">
    <h1>Welcome to our luxurious hotel!</h1>
    <p>At [Hotel], we strive to provide you with an unforgettable experience filled with comfort, elegance, and exceptional service. From the moment you step into our grand lobby, you'll be enveloped in an atmosphere of warmth and hospitality.
       Whether you're here for business or pleasure, our dedicated staff is committed to ensuring your stay exceeds all expectations. Indulge in our exquisite amenities, savor delectable cuisine at our renowned restaurants, and unwind in our serene spa.
        We invite you to embrace a world of opulence and relaxation during your time with us. Welcome to a truly remarkable stay at [Hotel]</p>

</div>

{% endblock %}
