{% extends "main.html" %}

{% block content %}
<div class="signupImg">
    <div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for('login') }}" method="POST"></form>
                            <h3 align="center">Payment</h3>
                            <div class="form-group">
                                <label class="form-label" for="person">Full name on card:</label>
                                <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Full Name">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="cardNumber">Card Number:</label>
                                <input type="number" class="form-control" name="cardNumber" id="cardNumber" placeholder="Card Number" max="9999999999999999" size="16">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="cardExpiry">Card Expiry:</label>
                                <input type="number" class="form-control" name="cardExpiry" id="cardExpiry" placeholder="Card Expiry"  max="9999" size="4">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="CVV">CVV:</label>
                                <input type="number" class="form-control" name="CVV" id="CVV" placeholder="CVV" max="999" size="3">
                            </div>
                            <br />
                            <div align="center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}